@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.container {
  background: linear-gradient(to right, #ffffff,#dac0ff);
}
.midcont{
    background-color:#f3eaff;
    border-radius:10px;
    padding:7px;
}
.textuser{
    border-radius:9px;
}
.submitbtn{
    background-color: #690cb0;
    color:white;
    border-width:0px;
    border-radius:3px;
    margin:3px;
}
.resetbtn{
    background-color: #ffffff;
    border-width:0px;
    border-radius:3px;
    margin:3px;
}
